################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeriesServer/bin
/SeriesServer/obj
/.vs
/SeriesServer/.config/dotnet-tools.json
/SeriesServer/SeriesServer.csproj.user
